<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}"  media="screen,projection"/>
        <!--Custom styles-->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/styles.css') }}"  media="screen,projection"/>

        
    </head>
    <body>
     <div class="navbar-fixed">
        <nav class="white">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">Cagnot'Potes</a>
                <ul class="right hide-on-med-and-down">
                   
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                         <li><a href="{{ path('campagne_new') }}" class="waves-effect waves-light btn blue-grey lighten-1">Créer une campagne</a></li>
                         <li><a class="waves-effect waves-light btn blue-grey lighten-1" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a class="waves-effect waves-light btn blue-grey lighten-1" href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a class="waves-effect waves-light btn blue-grey lighten-1" href="{{ path('app_register') }}">S'inscrire</a></li>
                    {% endif %} 
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('campagne_new') }}" class="waves-effect waves-light btn blue-grey lighten-1">Créer une campagne</a></li>
                        <li><a class="waves-effect waves-light btn blue-grey lighten-1" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a class="waves-effect waves-light btn blue-grey lighten-1" href="{{ path('app_login') }}">Se connecter</a></li>
                         <li><a class="waves-effect waves-light btn blue-grey lighten-1" href="{{ path('app_register') }}">S'inscrire</a></li>
                    {% endif %} 
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

{% block body %}
<div class="container">
<div class="card">
   <div class="card-content">
      <div class="row">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h3 class='center'>S'inscrire</h3>
   
    <div class='error'>{{ form_errors(registrationForm.password.first)}}</div>

    {{ form_start(registrationForm) }}

    {{ form_label(registrationForm.name,"Votre Nom" )}}
    {{ form_widget(registrationForm.name)}}
    <div class='error'>{{ form_errors(registrationForm.name)}}</div>

    {{ form_label(registrationForm.email,"Votre Email" )}}
    {{ form_widget(registrationForm.email)}}
    <div class='error'>{{ form_errors(registrationForm.email)}}</div>
    
    <div class="col s12 m6">
    {{ form_label(registrationForm.password.first)}}
    {{ form_widget(registrationForm.password.first)}}
    </div> 

    <div class="col s12 m6">   
       {{ form_label(registrationForm.password.second)}}
    {{ form_widget(registrationForm.password.second)}}
    </div>     


        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </br>
        <p> Vous avez déjà un compte ? <a href="{{ path('app_login') }}">connectez-vous</a> </p>
      </div>
   </div>
</div>
</div>
{% endblock %}
