
<div class="card">
   <div class="card-content">
      <div class="row">
      {{ form_start(form) }} 


         {% if edit is defined %}
         <div class="input-field col s12 l6">
         {{ form_label(form.name,"Votre Nom" )}}
         {{ form_widget(form.name)}}
         <div class='error'>{{ form_errors(form.name)}}</div>
         </div>

         <div class="input-field col s12 l6">
          {{ form_label(form.email,"Votre Email 📨" )}}
         {{ form_widget(form.email)}}
         <div class='error'>{{ form_errors(form.email)}}</div>
         </div>  

         <div class="input-field col s12">
          {{ form_label(form.nameCampagne,"Titre de votre campagne" )}}
         {{ form_widget(form.nameCampagne)}}
         <div class='error'>{{ form_errors(form.nameCampagne)}}</div>
         </div>
         
         {% else %}
         <div class="input-field col s12 l6">
          {{ form_label(form.name,"Votre Nom" )}}
         {{ form_widget(form.name, {'attr' : {'value' : user.name }})}}
         <div class='error'>{{ form_errors(form.name)}}</div>
         </div>

         <div class="input-field col s12 l6">
         {{ form_label(form.email,"Votre Email 📨" )}}
         {{ form_widget(form.email, {'attr' : {'value' : user.email }})}}
         <div class='error'>{{ form_errors(form.email)}}</div>
         </div>
               {% if not inputValue %}    
               <div class="input-field col s12">
               {{ form_label(form.nameCampagne,"Titre de votre campagne" )}}
               {{ form_widget(form.nameCampagne)}}
               <div class='error'>{{ form_errors(form.nameCampagne)}}</div>
                 
               </div>
               {% else %}
               <div class="input-field col s12">
               {{ form_label(form.nameCampagne,"Titre de votre campagne" )}}
               {{ form_widget(form.nameCampagne, {'attr' : {'value' : inputValue}})}}
               <div class='error'>{{ form_errors(form.nameCampagne)}}</div>
               </div>
               {% endif %}
        
         {% endif %} 


         <div class="input-field col s12">
            {# {{ form_label(form.contenuCampagne) }} #}
            {{ form_widget(form.contenuCampagne, 
            {'attr' : {'class' : 'materialize-textarea', 
            'placeholder' : 'Décrivez à vos amis pourquoi vous faites une campagne'
            }}) }}
            <div class='error'>{{ form_errors(form.contenuCampagne)}}</div>
         </div>   
        <div class="input-field col s12">
            {{ form_label(form.objectifCagnotte, "Votre objectif en euros 💶" )}}
            {{ form_widget(form.objectifCagnotte)}}
            <div class='error'>{{ form_errors(form.objectifCagnotte)}}</div>
         </div>
         <div class="col s12" >
         <button  class="btn btn-large waves-effect waves-light blue-grey lighten-1" style="margin-top: 20px;" type="submit" name="action">{{ button_label|default('Validez la campagne') }}</button>
        </div>
        </br>
         <a href="{{ path('campagne_index') }}">back to list</a> 
        {{ form_end(form) }} 
            
        
      </div>
   </div>
</div>

