{% extends 'base.html.twig' %}

{% block title %}Campagne index{% endblock %}

{% block body %} 
<div id='formSearch'>
   
        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input placeholder="Recherchez une cagnotte" type="text" class="validate search-cagnotte">
        
    </div>  
</div> 
 
{{ include('campagne/_search.html.twig') }}
   
<div id="campagnesIndex">
  <h1 class='center'>Campagnes</h1>
 
<div class='container'>
    <div class="row">
         {% for campagne in campagnes %}
        <a  href="{{ path('campagne_show', {'id': campagne.id}) }}">
            <div class="col s12 m4">
                <div class="card center">
                        <div class="card-content">
                            <span class="card-title teal-text">{{ campagne.nameCampagne }}</span>
                                <p class="black-text">{{ campagne.contenuCampagne }}</p>
                        </div>
                            <div class="card-action">
                                <div class="row black-text">
                                <div class="col s6"><i class="material-icons teal-text">account_circle</i> </div>
                                <div class="col s6"><i class="material-icons teal-text">euro_symbol</i> </div>
                                    <div class="col s6"> 
                                        {% set count = 0 %}
                                        {% set totalAmount = 0 %}
                                            {% for payment in payments %}
                                                {% if payment.participantId.campagneId.id == campagne.id %}
                                                {% set totalAmount = totalAmount + payment.amount %}
                                                    {% set count = count + 1 %}
                                                {% endif %}    
                                            {% endfor %} 
                                            {% set porcentageAmount = totalAmount * 100 / campagne.objectifCagnotte %}
                                                     <b>{{ count }}</b>
                                                 
                                        </div>
                                        <div class="col s6">
                                             <b>{{ campagne.objectifCagnotte }}</b>
                                        </div>
                                    </div>

                                </div>
                                <div class="progressList">
                                    <div class="determinate" style="width:{{porcentageAmount}}%"></div>
                                </div>
                    </div>
            </div>
              </a>           
                         {% else %}
            
                        <p colspan="7">no records found</p>
            
                      {% endfor %} 
        </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{asset('assets/js/search.js')}}"></script>
{% endblock %} 
