{% extends 'base.html.twig' %}

{% block title %}Campagne{% endblock %}



{% block body %}
 <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center black-text light white-text">{{ campagne.nameCampagne }}</h1>
                <div class="row center">
                    <h5 class="header col s12 black-text light white-text">- Organisée par : {{ campagne.name }} -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('assets/images/8.jpg') }}" alt="Titre de la campagne"></div>
    </div>
    {% set count = 0 %}
    {% set totalAmount = 0 %}
        {% for payment in payments %}
            {% set totalAmount = totalAmount + payment.amount %}
            {% set count = count + 1 %}
        {% endfor %} 
    {% set porcentageAmount = totalAmount * 100 / campagne.objectifCagnotte %}

    <!-- Show progress -->
    <section class="progress-section">
        <div class="progress">
            <div class="determinate" style="width: {{porcentageAmount}}%"><span>{{porcentageAmount|round}}% de l'objectif</span></div>
        </div>
    </section>

    <div class="container participe">
        <div class="section">
            <!-- Participation section -->
            <div class="row">
                <div class="card col s12 m12 l8 offset-l2">
                    <div class="card-content">
                        <div class="input-field col s12 l6">
                         <form action="{{ path('payment_new', {'id': campagne.id})}}" method='POST'>
                            <label for="mount">Votre participation</label>
                            <input id="mount" type="number" name='amount' class="validate">
                        </div>
                         <button type="submit" class="btn-large waves-effect waves-light blue-grey lighten-1 col s12 l6">Participer</button>
                                </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <h4>A propos de la campagne</h4>
                </div>
            </div>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 l4 ">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">person</i></div>
                        <h3 class="center">{{count}}</h3>
                        <p class="light">Participants</p>
                    </div>
                </div>

                <div class="col s12 l4">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">redeem</i></div>
                        <h3 class="center">{{totalAmount}}</h3>
                        <p class="light">euros récoltés</p>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">monetization_on</i></div>
                        <h3 class="center">{{campagne.objectifCagnotte}}</h3>
                        <p class="light">Objectif</p>
                    </div>
                </div>
            </div>
            <!-- Form section -->
            <div class="container center">
            <div class="card">
            <p class='teal-text'>{{ campagne.contenuCampagne }}</p>
            </div>

                     {% if (is_granted('IS_AUTHENTICATED_REMEMBERED')) and (user.id == campagne.user.id)  %}
                    <div class="col s12 l6 offset-l3">
                        <a href="{{ path('campagne_edit', {'id': campagne.id}) }}" class="btn btn-large waves-effect waves-light col s12">
                            Modifiez la campagne
                            <i class="material-icons right">edit</i>
                        </a>  
                    </div>
                     <div class="col s12 l6 offset-l3 center">
                     </br>
                       {{ include('campagne/_delete_form.html.twig') }}
                    </div>
                    {% endif %}
                  
                
            </div>
            <!-- List -->
            <div class="row">
                <div class="col s12 center">
                    <h4>Liste des participants</h4>
                </div>
                <div class="col s12">
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Participation</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for payment in payments %}
                            <tr>
                                <td>{{payment.participantId.name}}</td>
                                {% if payment.participantId.isAnonymous == false %}
                                <td>{{payment.amount}}€</td>
                                {% else %}
                                 <td>Anonymous</td>
                                 {% endif %}
                            </tr>
                            {% else %}
                            <tr>
                                <td>Payment not found</td>
                                <td>0€</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4 class="header col s12 light">Une campagne pensée pour vous<br>et pour toutes les occasions</h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('assets/images/10.jpg') }}" alt="Une campagne pensée pour vous"></div>
    </div>



  
    
{% endblock %}
   
