
<div class="card">
   <div class="card-content">
      <div class="row">
         {{ form_start(form) }}
       
    
         <div class="input-field col s12 l8">
            {% if not inputValue %}

               {{ form_widget(form.amount)}}
               {{ form_label(form.amount)}}
            {% else %}
               {{ form_widget(form.amount, {'attr': {'value': inputValue}})}}
               {{ form_label(form.amount)}}
               {{ form_errors(form.amount)}}
            {% endif %}
          

         </div>
         <div class="input-field col s6 ">
               {{ form_row(form.participantId.name) }}
         </div>
                  <div class="input-field col s6 ">
               {{ form_row(form.participantId.email) }}
         </div>
         <p>
            <label>
               {{ form_widget(form.participantId.isAnonymous)}}
               <span>Masquer le montant de ma participation auprès des autres participants</span>
            </label>
         </p>
         <div class="input-field col s12 ">
         <div id="card-element"></div>
         </div>
            <button  class="btn btn-large waves-effect waves-light pink lighten-1 col s12" style="margin-top: 20px;" type="submit" name="action">{{ button_label|default('Validez votre participation') }}</button>
         {{ form_end(form) }}
      </div>
   </div>
</div>
   <div class="card">
                <div class="card-content">
                    <div class="row">
                        <form>
                            <h5 class="center">Votre identité</h5>
                            <div class="input-field col s12 l6">
                                <input id="email" type="email" class="validate">
                                <label for="email">Votre Email</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="mount" type="number" class="validate">
                                <label for="mount">Votre participation</label>
                            </div>
                            <p>
                                <label>
                                    <input type="checkbox" />
                                    <span>Masquer mon identité auprès des autres participants</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" />
                                    <span>Masquer le montant de ma participation auprès des autres participants</span>
                                </label>
                            </p>
                            <div class="clearfix"></div>
                            <h5 class="center">Paiement</h5>
                            <div class="input-field col s12">
                                <input id="card_name" type="text" class="validate">
                                <label for="card_name">Nom sur la carte</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="card_number" type="text" class="validate">
                                <label for="card_number">Numéro de la carte</label>
                            </div>
                            <div class="input-field col s12 l8">
                                <input id="card_expiration_date" type="date" class="validate">
                                <label for="card_expiration_date">Date d'expiration</label>
                            </div>
                            <div class="input-field col s12 l4">
                                <input id="card_cvv" type="text" class="validate">
                                <label for="card_cvv">CVV</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <a href="#!" class="btn btn-large waves-effect waves-light grey col s12">Annuler</a>
                            </div>
                            <div class="input-field col s12 l6">
                                <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" name="action">
                                    Participer
                                    <i class="material-icons right">euro_symbol</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
