{% extends 'base.html.twig' %}

{% block title %}New Payment{% endblock %}

{% block body %}
<div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text light">{{ campagne.nameCampagne}}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par : {{campagne.name}} -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('assets/images/8.jpg') }}" alt="Titre de la campagne"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4>Participez en quelques secondes</h4>
                </div>
            </div>
    {{ include('payment/_form.html.twig') }}
        </div>
    </div>
     <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4>Comment ça marche ?</h4>
                </div>
            </div>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block center">
                        <a href="{{ path('campagne_new') }}" class="btn-large btn-floating white"><i class="material-icons teal-text">create</i></a>
                        <h5 class="center">Créez</h5>
                        <p class="light">et personnalisez votre campagne commune en 30 secondes !</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">wc</i></div>
                        <h5 class="center">Invitez</h5>
                        <p class="light">vos amis en utilisant les réseaux sociaux, mail, etc.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">shopping_cart</i></div>
                        <h5 class="center">Collectez</h5>
                        <p class="light">et utilisez l'argent comme bon vous semble avec vos amis.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
  {% block javascripts %}
  <script src="https://js.stripe.com/v3/"></script>
             <script>
            var stripe = Stripe("pk_test_51ItYGCKhlLJk2wgHIQIOlCcsJMj7psL8Y2e0FXkVvQj3zyEVyG2yLztCuVSmeZoI7QmCIk6PNVootoRsylLQbLC2008tQqjrl5");
         // The items the customer wants to buy
           var elements = stripe.elements();

        var style = {
            base: {
                color: "#32325d",
                fontFamily: 'Arial, sans-serif',
                fontSmoothing: "antialiased",
                fontSize: "16px",
                "::placeholder": {
                    color: "#32325d"
                }
            },
            invalid: {
                fontFamily: 'Arial, sans-serif',
                color: "#fa755a",
                iconColor: "#fa755a"
            }
        };
       

        var card = elements.create("card", { style: style });
        // Stripe injects an iframe into the DOM
        card.mount("#card-element");
    </script>

    <script src="https://www.paypal.com/sdk/js?client-id=AZG8SSRJ-m_J5yuN11dlkG5mwd51BngNQzxKzJp4KrS4SovtQl2q5ps__LA7q452lHsOtVHhY8uitBfi&currency=EUR"> // Replace YOUR_CLIENT_ID with your sandbox client ID
    </script>
    <!-- Add the checkout buttons, set up the order and approve the order -->
    <script>

      paypal.Buttons({
        createOrder: function(data, actions) {
    let montant = document.querySelector("#payment_amount").value
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: montant
              }
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            alert('Transaction completed by ' + details.payer.name.given_name);
            document.querySelector('#payment-form').submit()
          });
        }
      }).render('#paypal-button-container'); // Display payment options on your web page
    </script>


        {% endblock %}


